<ion-content>

  <body>

    <div id="formContainer" [class.flipped]="this.classApplied">
      <form id="login" method="post" action="./">
        <a style="cursor: pointer" id="flipToRecover" class="flipLink" (click)="flip()">Registro</a>
        <input type="text" name="loginEmail" id="loginEmail" value="admin@admin.com" />
        <input type="password" name="loginPass" id="loginPass" value="1111" />
        <input type="submit" name="submit" value="Entrar"[routerLink]="('/home')" />
      </form>
      <form id="recover" method="post" action="./">
        <a style="cursor: pointer" id="flipToLogin" class="flipLink" (click)="flip()">Iniciar Sesión</a>
        <input type="text" name="loginEmail" id="loginEmail" value="Correo" />
        <input type="password" name="loginPass" id="loginPass" value="" />
        <input type="submit" name="submit" value="Recover" [routerLink]="('/home')"/>
      </form>
    </div>
    <!--     <footer>
      <h2><i>Tutorial:</i> Apple-like Login Form With CSS 3D Transforms</h2>
      <a class="tzine" href="http://tutorialzine.com/2012/02/apple-like-login-form/">Head on to
        <i>Tutorial<b>zine</b></i> to download this example</a>
    </footer> -->

  </body>
</ion-content>