<ion-header>
  <ion-toolbar color="rgba(0, 0, 0, 0.678)" style="background-image: linear-gradient(to bottom, #00050d, #00112e, #00184e, #00176b, #320081);">
    <ion-title>
      <b style="color: white;">Alarma de Robo</b>      
      <ion-button color="dark" size="small" class="ion-float-right" [routerLink]="['/login']" ><!-- (click)="onlogout()" -->
        DESCONECTARSE</ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- <div><h1> X : {{x}}</h1></div>
<div><h1> Y : {{y}}</h1></div>
<div><h1> Z : {{z}}</h1></div>
<div> <h1>  TimeSpamp: {{timeSpam}}</h1></div>
<button ion-button full (click)="start()" > Start</button>
<button ion-button full (click)="stop()"> Stop</button> -->
<ion-content>
  <div class="divSwitch">
      <div class="switch">
          <input  (click)="activarAlarma(encendido)" type="checkbox" name="toggle">
          <label for="toggle">
            <i class="bulb">
              <span class="bulb-center"></span>
              <span class="filament-1"></span>
              <span class="filament-2"></span>
              <span class="reflections">
                <span></span>
              </span>
              <span class="sparks">
                <i class="spark1"></i>
                <i class="spark2"></i>
                <i class="spark3"></i>
                <i class="spark4"></i>
              </span>
            </i>    
          </label>
        </div>
  </div>

</ion-content>